[datasource]
type=postgresql
uri=postgresql://UserName:Password@PGHost:Port/SomeDBName
dbname=SomeDBName

[log]
log_level=debug
log_file_path=/home/test/database_schema_collect/run.log

[local]
temp_work_dir=/tmp/dbs_collect

[storage]
type=local
directory=SomePathForStoringMetaDataOfDatabase
ddl_directory=SomePathForStoringGeneratedDDLSQLFile
erd_directory=SomePathForStoringGeneratedERDFile
dict_directory=SomePathForStoringGeneratedDataDictionaryExecel
webhdfs_host=HDFSHost
webhdfs_port=HDFSPort
